// color
@mainColor: #2878ff;
@secondColor: #f9f9f9;
@baseFontColor: #6e747d;
@baseColor: #ffffff;

// height
@baseHeaderHeight: 3rem;

// padding
@basePadding: 0.5rem;
@innerPadding: 0.5rem;
@bigPadding: 2rem;

// pages/main.tsx
.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

// header.tsx
.docHeader {
  z-index: 1000;
  height: @baseHeaderHeight;
  background-color: @baseColor;
  color: @baseFontColor;
  padding: @basePadding;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  align-items: center;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 5px rgba(40, 120, 255, 0.1), 0 16px 24px 2px rgba(0, 0, 0, 0.05);
  width: 100%;
  width: 100%;
}

.title {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  align-content: center;
  align-items: center;
  font-weight: bold;
  color: @baseFontColor;
}

.menuList {
  padding-left: 4rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.menuItem {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;

  a {
    color: @baseFontColor;
    font-weight: 300;
  }

  a:hover, a:active {
    color: @mainColor;
    font-weight: 600;
  }
}
.container{
  display: flex;
  margin-top: 45px;
  background-color: @secondColor;
  flex: 1;
}
.footer{
  display: flex;
  height: 2rem;
  border-top: 1px solid #eee;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 12px;
}
