// color
@mainColor: #2878ff;
@secondColor: hsl(0, 0%, 98%);
@baseFontColor: #6e747d;
@baseColor: #ffffff;
@baseFontActiveColor: #000000;

// height
@baseHeaderHeight: 4rem;

// padding
@basePadding: 0rem;
@innerPadding: 0.5rem;
@bigPadding: 2rem;